/* General */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-weight: 400;
    line-height: 1.5;
    background: url("../img/pattern.png") fixed;
}
p {
    font-size: 20px;
    font-weight: 400;
    font-family: Hind, sans-serif;
    color: #97989b;
    line-height: 1.4;
    margin-bottom: 15px;
}
#p1 {
    font-size: 20px;
    font-weight: 400;
    font-family: Hind, sans-serif;
    color: #97989b;
    line-height: 1.4;
    margin-bottom: 1px;
}
#p2 {
    font-size: 15px;
    font-weight: 400;
    font-family: Hind, sans-serif;
    color: white;
    line-height: 1.4;
    margin-bottom: 15px;
}
em, li, li a {
    font-size: 16px;
    font-weight: 500;
    font-family: Hind, sans-serif;
    color: #515769;
}
a {
    font-family: Hind, sans-serif;
    color: #81848f;
    outline: 0;
}
a:focus, a:hover, a:active {
    outline: 0;
    color: #999caa;
    text-decoration: none;
}
.link {
    position: relative;
    font-size: 13px;
    font-weight: 600;
    font-family: Hind, sans-serif;
    text-transform: uppercase;
}
.link:after {
    position: absolute;
    top: 8px;
    right: -15px;
    width: 9px;
    height: 2px;
    background: #17bed2;
    content: " ";
}
span {
    font-size: 14px;
    font-weight: 400;
    font-family: Hind, sans-serif;
    color: #bfc1c7;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    font-family: Hind, sans-serif;
    color: #515769;
    line-height: 1.4;
    margin: 0 0 15px;
}
h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color: #515769;
}
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
    color: #999caa;
    text-decoration: none;
}
h1 > a:focus, h2 > a:focus, h3 > a:focus, h4 > a:focus, h5 > a:focus, h6 > a:focus {
    text-decoration: none;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 30px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 22px;
}
/* Fixed navbar */
/***** Top menu *****/
 
.navbar {
	height: 70px;
    background: #6BBAA7;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    -webkit-transition: all .6s;
    -ms-transition: all .6s;
    transition: all .6s;
    backface-visibility: hidden;
}

.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #fff;
    font-weight: 600;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
    border: 0;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color: #ff5500;
}
.navbar-dark .navbar-nav .nav-link:focus {
    color: #ff5500;
    outline: 0;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
	
}
.navbar-brand {
    width: 130px;
	height: 65px;
    border: 0;
}
.navbar-collapse{
	  background: #6BBAA7;
}
/***** Services *****/
 
.services-box {
    padding-top: 30px;
    text-align: left;
}
.services-box .services-box-icon {
    width: 80px;
    height: 80px;
    margin: 0 auto;
    font-size: 40px;
    color: #fff;
   
    text-align: center;
    border-radius: 28px;
    background: #9b59b6; /* Old browsers */
    background: -moz-linear-gradient(top, #ffb24b 0%, #9b59b6 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffb24b), color-stop(100%, #9b59b6)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffb24b 0%, #9b59b6 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffb24b 0%, #9b59b6 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ffb24b 0%, #9b59b6 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ffb24b 0%, #9b59b6 100%); /* W3C */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb24b', endColorstr='#9b59b6', GradientType=0 ); /* IE6-9 */
}
.services-box h3 {
    margin-top: 0;
    padding: 0 0 10px 0;
}
.footer {
    padding-top: 35px;
    height: 200px;/*background-color: white;*/
  /*background-image: url(img/pattern.png);*/
}
.footer-social-media {
    padding-left: 0px;
}
.footer-contact {
}
.copyright {
    padding-top: 13px;/*background-color: white;*/
	padding-bottom: 10px;
	background-color: #FBA100;
  /*background-image: url(img/pattern.png);*/
}
.container.gallery-container {
    color: #35373a;
    min-height: 100vh;
}
.gallery-container h1 {
    text-align: center;
    margin-top: 70px;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
}
.gallery-container p.page-description {
    text-align: center;
    max-width: 800px;
    margin: 25px auto;
    color: #888;
    font-size: 18px;
}
.tz-gallery {
    padding: 40px;
}
.tz-gallery .lightbox img {
    width: 100%;
    margin-bottom: 30px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
.tz-gallery .lightbox img:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}
.tz-gallery img {
    border-radius: 4px;
}
.baguetteBox-button {
    background-color: transparent !important;
}

@media(max-width: 768px) {
body {
    padding: 0;
}
.container.gallery-container {
    border-radius: 0;
}
}

@media only screen and (max-width: 993px) {
/* For mobile phones: */
.footer-social-media, .footer-contact {
    width: 100%;
    padding-left: 15px;
}
.testimonials-container, .questions-container {
    padding-left: 15px;
}
	.copyright{
		margin-top: 180px;
	}
	.collapse{
		
	}
}
